body{
     display: flex; 
     flex-direction: column;
    text-align: center;
    font-family: arial;
    font-size: 50px;
    color: red;
}

#post{
    width: 70%;
    padding: 1px;
    text-align: left;

}

#cabecera{
    background-color: violet;
    color: black;
}